@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "sourcesanspro_regular";
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'league_spartanregular';
    src: url('../fonts/leaguespartan-bold-webfont.eot');
    src: url('../fonts/leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('../fonts/leaguespartan-bold-webfont.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#section3 h3 {
	font-family: 'league_spartanregular';
    font-size: 24px;
	color:#99cc33;
}

#section-text {

	position:absolute;
	z-index:1;
	width: 100%;
	height:100%;
	
	
}

#section-text img {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-top:18%;

	
}

.carousel-control:hover, .carousel-control:focus {
    z-index: 6;
}

.carousel-control {
    z-index: 6;
}
.carousel-caption h2 {
	    font-family: 'league_spartanregular';
		font-size:18px;
		margin-bottom:5px;
}
.carousel-caption p {
		font-size:14px;
}

.fill {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}
.carousel, .item, .active {
    height: 100%;
}

.carousel-caption {
    left: 2%;
    padding-bottom: 30px;
    right: 20%;
	text-align:left;
}

#section1 {
	    font-family: "sourcesanspro_regular";

	height:100%;
	width:100%;
	
}

#section2 {
 font-family: "sourcesanspro_regular";
	height:auto;
	width:100%;
	
}

/* Nav */

 a.social {
	 font-size:20px;
	 color:#fff !important;
	 width: 38px;
 }
 
 a.social:hover {
	 font-size:20px;
	 color:#99CC33 !important;
 }
 

.navbar-form .btn {
    padding: 9px 12px;
    
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #005D29;
}

.navbar {
    border: 1px solid transparent;
    margin-bottom: 0;
	-webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
		  border-radius: 0px;
		  
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.btn-default {
    background-color: #005D29;
    border-color: #005D29;
    border-radius: 0;
    color: #99CC33;
}
.btn-default:hover {
    background-color: #99CC33;
    border-color: #99CC33;
    border-radius: 0;
    color: #fff;
}

.form-control {
    background-color: #f2f2f2;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    padding-left: 5px;
}

.navbar-left > li > a {
    display: block;
    padding: 14px 10px;
    position: relative;
	    font-family: 'league_spartanregular';
		font-size:16px;

}

.top > li > a {
    display: block;
    padding: 15px 10px;
    position: relative;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0) inset, 0 0 8px rgba(226, 226, 226, 0.0);
  outline: 0 none;
}


/* Rollover Effects */

/* Common style */

.q-title {
	color: #fff;
    height: 100%;
    position: absolute;
    text-align: center;
	width: 100%;
    z-index: 2;
}

.q-title h3 {
	position:relative;
    top: 50%;
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 transform: translateY(-50%);
	 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	 font-family: 'league_spartanregular';
	 text-transform:uppercase;
	 font-size:40px;
	 margin: 0;

}

.grid {
	padding: 0;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 100%;
	margin: 0 0 28px;
	padding: 0px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	z-index: 5;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
}

.grid figcaption a {
    background: #99cc33 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}


/* Events */



h3.event-month {
	font-family: 'league_spartanregular';
	margin-top:20px !important;
	margin-bottom:20px !important;
	font-size:24px;
	
}

.events-date {
    background: #99cc33 none repeat scroll 0 0;
    display: inline-block !important;
    float: left;
    font-family: "league_spartanregular";
    font-size: 24px;
    margin-right: 10px;
    padding: 15px;
    width: auto;
}

.event {
	display: block;
    float: left;
    width: 100% !important;
	margin-bottom:10px;
}

.event-details {
	float:left;
}
.events-text {
		font-family: 'league_spartanregular';
		font-size:18px;
}
.events-location {
    float: left;
    padding-right: 10px;
}
.events-cost {
    float: left;
    padding-right: 10px;
	font-weight:bold;
}

/* Caption Style 1 */

.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 0px;
}

.cs-style-1 figcaption p {
	font-size:18px;
}

/* featured Content */

h3.greentxt {
	font-family: "league_spartanregular";
	font-weight:100;
	font-size:20px;
	
}

.input-group-addon {
    background-color: #eee;
    border: 0 solid #ccc !important;
    border-radius: 0 !important;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}

input[type=submit] {
    background: #99cc33 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
}

.controls {
	text-align:left;
}

.business-featured {
	background-color:#DADADA;
	margin-bottom:40px;
	
}

.gallery-featured {
	background-color:#DADADA;
	background:url(../images/test-gallery.jpg);
	height: 589px;
	padding:20px;
	text-align:right;
}

.gallery-featured h4 {
	margin:0px;
	font-size:20px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	color:#FFFFFF;
	    font-family: "league_spartanregular";
		

}

.gallery-featured a {
    background: #99cc33 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
	margin-top:10px;
}

.business-featured-text {
	padding:20px;
}

.business-featured table {
    border-collapse: collapse;
    border-spacing: 0;
	font-size:14px;
}

td, th {
    padding: 5px;
}

/* Footer */

footer {
	text-align:center;
}

.fa-4x {
    font-size: 3em !important;
    color: #ccc !important;
    padding: 0px 10px !important;
}

/* date */

.date {
	margin-bottom:10px;
	font-size:12px;
}

.featured-image {
	width:100%;
}

.featured-image img {
	width:100%;
	height:auto;
}

.bg {
  position:fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  background-size:cover;
}

.bigTitle{
    text-align:center;
    font: 100px  arial;
    color:white;
    position: relative;
    width:100%;
    height: 100%;
}

.smallTitle{
    text-align:center;
    font: 60px arial;
    color:black;
    position: relative;
    width:100%;
    height: 100%;
}

.nav-text a{
    color:#63288a;
    font: 20px arial;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
}

.nav-text a:active{
    color:	#267326;
}

.nav-text a:focus{
    color:	#267326;
}

.nav-text a:hover{
    color:	#267326;
}

.nav-text a{
    color:#63288a;
    font: 16px arial;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
}

.nav-text-big a{
    font: 18px arial;
}

.lowerRow{
    border-top: 1px dashed black;
}

.upperNav {
    border-right: .1em groove;
    border-color:#63288a;
}

.depth {
  display: block;
  border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
}

.depth:focus {
  outline: none;
  background-position: 0 -1.7em;
}

.line {
  display: block;
  border: none;
  color: #333;
  background: transparent;
  border-bottom: 1px dotted black;
  padding: 5px 2px 0 2px;
}

.line:focus { 
  outline: none;
  border-color: #51CBEE;
}

.simple-input {
  display: block;
  padding: 5px;
  color: #333;
  transition: all 0.3s ease-out;
}

.simple-input:hover { border-radius: 8px; }
.simple-input:focus { 
  outline: none;
  border-radius: 8px; 
  border-color: #267326;
}

#haddingtonLogo {
    height:inherit;
}

.greenbk {
	border:none;
	background-color:#99CC33;
}

.blackbar{
	background-color:#333;
	padding-top: 15px;
	padding-bottom:15px;
	padding-left:10px;
	padding-right:10px;
	width:100%;	
}

.greenbar {
	height:10%;
	background-color:#99CC33;
	position: relative;
}

.greentxt {
	color:#99CC33;
}

.foottxt{
	color:#e6e6e6;	
}

/* Responsive */

@media (max-width: 768px) {

.nav > li > a {
    display: block;
    padding: 2px 10px;
    position: relative;
}

}
